@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&family=Open+Sans:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: auto;
}

nav a {
    text-align: center;
    color: #eeb902;
    text-decoration: none;
    padding: 35px;
} /*remember that higher rank is #id, after .classes and .pseudoclasses:hover and at the end element*/ 

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #1B1B1E;
    font-family: inclusive-sans, open-sans, Mooli;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1B1B1E;
    font-family: Mooli, inclusive-sans, open-sans;
}

nav a:hover {
    background-color: #1B1B1E;
    color: white;
}

.book, .join {
    background-color: #ADF1D2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #eeb902;
    color: white;
}

#background {
    background-color: #1B1B1E;
    
}

.msg {
    background-color: #1B1B1E;
    padding: 35px;
}

footer {
    background-color: #1B1B1E;
    color: #eeb902;
    line-height: 1.5em;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #eeb902;
    font-family: Mooli, inclusive-sans, open-sans;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #eeb902;
}

.msg h2 {
    color: #eeb902;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #eeb902;
    text-decoration: none;
}

footer a:hover {
    background-color: #1B1B1E;
    color: white;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0px;
}

.card-img {
    border: 10px solid #eeb902;
}

main section img {
    box-sizing: border-box;
}