@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&family=Open+Sans:wght@500&display=swap');

/* * {
    border: 2px solid white;
}*/
body {
    background-color: #1B1B1E;
    font-family: inclusive-sans, open-sans, Mooli;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

div {
    display: block;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #1B1B1E;
    font-family: Mooli, inclusive-sans, open-sans;
}

header img {
    width: 50%;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #eeb902;
    text-decoration: none;
    padding: 35px;
} /*remember that higher rank is #id, after .classes and .pseudoclasses:hover and at the end element*/ 

nav a:hover {
    background-color: #1B1B1E;
    color: white;
}

.logo {
    width: 80px;
}

/*continue the analization here https://johnsonbenj.github.io/wdd-130/wwr/ and support with the last one 
https://byui-wdd.github.io/wdd130/activities/w02-hosting-setup-online.html */

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img {
    width: 100%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4 {
    text-align: center;
    color: #eeb902;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
}

.home-title {
    color: #eeb902;
    font-family: Mooli, inclusive-sans, open-sans;
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #ADF1D2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #eeb902;
    color: white;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    border: 10px solid #eeb902;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #eeb902;
}

.card-img, .mountains {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

.rivers-card {
    margin: 200px 0px;
    color: #eeb902;
    grid-column: 2/4;
    grid-row: 2/3;
}
 
.camping-card {
    margin: 200px 0px;
    color: #eeb902;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0px;
    color: #eeb902;
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    background-color: #1B1B1E;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #eeb902;
    border: 2px solid #eeb902;
}

.msg {
    background-color: #1B1B1E;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #eeb902;
}

.msg h2 {
    color: #eeb902;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #1B1B1E;
    color: #eeb902;
    line-height: 1.5em;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #eeb902;
    text-decoration: none;
}

footer a:hover {
    background-color: #1B1B1E;
    color: white;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

.social img {
    padding-top: 15px;
}

/*NOTE:
the river.html styles begin here*/

/* {
    border: 2px solid wheat;
}*/

#h1-rivers {
    color: #eeb902;
    text-align: center;
    padding: 20px;
}

#river-higher {
    color: #eeb902;
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0;
}

#river-higher:hover {
    background-color: #1B1B1E;
    color: white;
}

#book-rivers {
    background-color: #ADF1D2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px 0;
    border-radius: 5px;
}

#book-rivers:hover {
    background-color: #eeb902;
    color: white;
}

#rivers-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.h2-rivers-rigth, .h2-rivers-left {
    color: #eeb902;
    text-align: center;
    margin: 20px;
}

.rivers-paragraph-right, .rivers-paragraph-left {
    color: white;
    text-align: justify;
    margin: 30px;
}

/*the right part is organized here*/
.h2-rivers-rigth {
    grid-column: 1/5;
    margin-top: 60px;
}

.rivers-paragraph-right {
    grid-column: 1/5;
}

.image-rigth {
    grid-column: 7/3;
    width: 500px;
    height: auto;
}

/*the left part is organized here*/
.h2-rivers-left {
    grid-column: 8/4;
}

.rivers-paragraph-left {
    grid-column: 8/4;
}

.image-left {
    grid-column: 2/3;
    grid-row: 4/6;
    width: 500px;
}


/* form desing */

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it*/
    display: none;
}

.moveDown {
    margin-top: 3em;
}

form {
    /*center the form on the page*/
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* form outline */
    padding: 1em;
    border: 3px solid #ADF1D2;
    border-radius: 1em;
    color: #eeb902;
}
  
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 3px solid #eeb902;
  margin-left: 3px;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 1px solid #eeb902;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 7em;
}





/* medias queries  start here */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}